footer.footer
  div.wrapper.wrapper-12
    div.wrap-stripe
      div.stripe
        a(href="/")
          img(src="/images/white_logo.png")
    div.wrap-blocks
      div.top-block
        div.block.third
          a(href="who-we-are") This is who we are
          a(href="community") NS Community
          a(href="open-position") Open Positions
        div.block.third
          a(href="internship") Interships
          a(href="labs") Labs
          a(href="life") Life at NS
        div.block.third.container
          div.table
            div.cell.half
              a(href="#")
                b Contact Us
            div.cell.half              
            div.cell.half
              a(href="#")
                b FAQ
            div.cell.half
              a(class="social" href="#facebook")
                i.fa.fa-facebook
              a(class="social" href="#twitter")
                i.fa.fa-twitter
              a(class="social" href="#instagram")
                i.fa.fa-instagram
              a(class="social" href="#google-plus")
                i.fa.fa-google-plus                          
      div.bottom-block
        div.block
          a(href="#")
            b Terms & Conditions
  
