footer.footer
  div.wrapper.wrapper-12
    div.wrap-stripe
      div.stripe
        a(href="/")
          span.show-for-sr Link to homepage
          img(src="/images/white_logo.png" role="presentation")
    div.wrap-blocks
      div.top-block
        div.block.third
          a(href="who-we-are") This is who we are
          a(href="community") NS Community
          a(href="open-position") Open Positions
        div.block.third
          a(href="internship") Interships
          a(href="labs") Labs
          a(href="life") Life at NS
        div.block.third.container
          div.table
            div.cell.half
              a(href="mailto:jobs@nearsoft.com")
                b Contact Us
            div.cell.half
            div.cell.half
                //- b FAQ
            div.cell.half
              a(class="social" href="https://www.facebook.com/nearsoftjobs/" target="_blank" rel="noopener")
                span.show-for-sr Link to Facebook profile
                i.fa.fa-facebook(aria-hidden="true")
              a(class="social" href="https://twitter.com/NearsoftJobs" target="_blank" rel="noopener")
                span.show-for-sr Link to Twitter profile
                i.fa.fa-twitter(aria-hidden="true")
              a(class="social" href="https://instagram.com/nearsoftjobs/" target="_blank" rel="noopener")
                span.show-for-sr Link to Instragram profile
                i.fa.fa-instagram(aria-hidden="true")
              a(class="social" href="https://plus.google.com/116933911049244562188" target="_blank" rel="noopener")
                span.show-for-sr Link to Google Plus profile
                i.fa.fa-google-plus(aria-hidden="true")
      div.bottom-block
        div.block
          //- a(href="#")
          //-   b Terms &amp; Conditions

