nav.top-menu
  div.wrapper.wrapper-12  
    div.left-top-menu
      a(href="/")
        img(src="/images/logo_star.png" class="logo-star" alt="Nearsoft logo star")
        img(src="/images/logo_text.png" class="logo-text" alt="Nearsoft text")
    div.right-top-menu      
      a(href="#" id="menu-button" class="ham-button toggle-menu")
        div.wrap-lines
          span.line
          span.line
          span.line
