nav.top-menu
  div.wrapper.wrapper-12  
    div.left-top-menu
      a(href="/")
        img(src="/images/ns-logo.png" alt="Nearsoft Logo")
    div.right-top-menu      
      a(href="#" id="menu-button" class="ham-button")
        div.wrap-lines
          span.line
          span.line
          span.line
