div.side-menu
  div.tr
    a(href="#" id="close-menu-button" class="toggle-menu")
      span.show-for-sr Close
      i.fa.fa-close
  nav.items
    a(href="who-we-are" class="menu-item") This is who we are
    a(href="community" class="menu-item") NS Community
    a(href="open-position" class="menu-item") Open Positions
    a(href="internship" class="menu-item") Interships
    a(href="labs" class="menu-item") Labs
    a(href="life" class="menu-item") Life at NS
