.position-header
  margin-top: 96px
  padding: 0 100px 9px 100px
  text-align: center
  background-color: $lighter-gray

  h1
    height: 460px
    background-position: center
    background-repeat: no-repeat


.we-want-you
  padding-top: 94px
  padding-bottom: 60px

  p
    font-family: $font-avenir
    font-size: 24px
    letter-spacing: 1.5px
    line-height: 1.25
    margin-bottom: 24px
    color: $not-so-black-gray

.requirements
  color: white
  height: 195px

  &-section
    display: inline-block
    width: 50%
    height: 194px
    vertical-align: top

  .profiles
    background-color: #e36260
    padding-top: 31px

    &-container
      float: right
      margin-right: 32px

    span
      display: block
      line-height: 1
      font-size: 46px

    .bold
      font-size: 64px
      font-weight: bold
      letter-spacing: 3px

  .github
    background-color: #bdbdbd

    a
      display: block
      height: 194px
      background-repeat: no-repeat
      background-position: 377px 7px
      color: #fff

    &-container
      padding: 52px 25px
      font-size: 50px
      line-height: 1
      text-transform: uppercase
      letter-spacing: -12.9px

    span
      display: block

.our-hiring-process
  padding-top: 90px

  h2 
    font-size: 72px
    padding-left: 35px
    line-height: 1
    color: #bdbdbd

    span
      display: block

      &:last-child
        font-size: 102px
        font-weight: 900
        line-height: 1

    .sub
      font-weight: 400
      letter-spacing: 2px
      line-height: 0.9
      letter-spacing: -2px

  &-icons
    background-size: 100%
    background-repeat: no-repeat
    width: 100%
    height: 630px

.our-recruiting-team
  padding-top: 2px

  &-img 
    height: 807px
    background-size: 100%
    background-repeat: no-repeat
  
  h2
    color: #f19e81
    text-align: center
    font-size: 53px
    letter-spacing: 1px
