// Global styles

$gray-color: #e0e0df
$gray-dark-color: #8F9090
$white-gray-color: #EEEEEE
$light-orange-color: #f19d80
$light-gray-color: #EFEFEE
$gray-black: #d2d2d0
$orange-color: #E7481E
$orange-color-2: #EB6453
$orange-color-3: #ED7A71
$orange-color-4: #F1A71E
$light-orange-color-hover: #bd6d52
$dark-blue-color: #2E4956
$dark-blue-color-2: #99B2BC
$dark-blue-color-3: #4B6675
$aqua-color: #A4D2CE
$yellow-color: #E4D66F
$light-yellow-color: #fbf2d5
$strong-yellow-color: #eab917
$yelowish-color: #e5c93c
$melon-color: #F39E7E
$purpure-color: #b34476
$strong-purpure-color: #7d6182


$break-small: 500px
$break-medium: 900px
$break-large: 1200px

//Reset
*
  box-sizing: border-box

ul
  list-style: none
  padding: 0
  margin: 0

// Helper classes
.coverimage
  background-position: center
  background-size: cover
.animation
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1)
.center
  text-align: center

.block
  display: inline-block

.extend
  position: absolute
  width: 100%
  height: 100%
  top: 0px
  left: 0

.title-inside
  font-size: 67px
  line-height: 67px
  padding-bottom: 5px
  padding-left: 20px
  &-orange
    color: $orange-color
  &-white
    color: white
  span
    display: block
    font-weight: bold

.photos
  .photo-large
    width: 70%
  .photo-small
    width: 30%

.wrapper
  margin: 0 auto
  max-width: 1280px
  &.wrapper-12
    width: 90%
  &.wrapper-10
    width: 75%
  &.wrapper-8
    width: 60%
  &.wrapper-6
    width: 45%

.top-menu
  background-color: rgba(255,255,255,0.9)
  padding: 20px 0px
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  width: 100%
  .wrapper
    display: flex
    flex-direction: row
    justify-content: center
  .right-top-menu
    align-self: center
    img
      height: 40px
      &:hover
        opacity: 0.8
    .ham-button
      width: 30px
      height: 30px
      display: inline-block
      vertical-align: middle
      margin-left: 10px
      &:hover
        .wrap-lines
          .line
            &:nth-child(2)
              transform: translateX(0px)
              &:after
                transform: translateX(120%) translateY(-15px)
      .wrap-lines
        display: flex
        flex-direction: column
        align-content: space-around
        justify-content: space-between
        height: 100%
        overflow: hidden
        .line
          height: 3px
          background-color: $orange-color
          width: 100%
          border-radius: 3px
          &:nth-child(2)
            transform: translateX(-25px)
            transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1)
            &:after
              height: 3px
              background-color: $orange-color
              width: 100%
              border-radius: 3px
              content: ""
              transform: translateX(35px) translateY(-15px)
              display: inline-block
              transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1)


  .left-top-menu
    margin-right: auto
    img
      width: 200px

.wrap-stripe
  width: 15%
  display: inline-block
.wrap-blocks
  display: inline-block
  width: 85%
  &.center-blocks
    margin: 0 auto
    display: inherit

.footer
  background-color: $gray-color
  margin-top: 50px
  a
    color: $light-orange-color
    &:hover
      color: $light-orange-color-hover
  .wrapper-12
    position: relative
    padding: 50px 0px
    .wrap-stripe
      .stripe
        background-color: $light-orange-color
        position: absolute
        width: 15%
        left: 0px
        bottom: 0px
        height: 120%
        padding: 0 20px
        display: flex
        a
          display: flex
          flex-direction: column-reverse
          img
            max-width: 100%
            margin-bottom: 40px
    .wrap-blocks
      padding: 0 40px
      .top-block
        border-bottom: 5px solid $gray-black
        padding: 15px 0px
        position: relative
        font-size: 15px
        .container
          vertical-align: bottom
        .table
          transform: translateY(25px)
          .cell
            display: inline-block
            text-align: center
            padding: 10px 0px
            font-size: 18px
            &:nth-child(1)
              border-top: 5px solid $gray-black
              border-left: 5px solid $gray-black
              border-right: 5px solid $gray-black
              border-bottom: 5px solid $gray-black
              transform: translateX(5px) translateY(5px)
              padding: 0
            &:nth-child(2)
              margin-bottom: 5px
            &:nth-child(4)
              border-top: 5px solid $gray-black
              border-left: 5px solid $gray-black
              border-right: 5px solid $gray-black
              margin-bottom: 5px
            &.half
              width: 50%
              color: $light-orange-color
              a
                display: block
                padding: 5px
                margin: 2px 0px
                &.social
                  display: inline-block
                  width: 25px
                  height: 25px
                  border: 1px solid $light-orange-color
                  border-radius: 50%
                  line-height: 15px
                  font-size: 14px
                  margin: 0px 4px
      .bottom-block
        padding: 15px 0px
        font-size: 18px
      .block
        display: inline-block
        vertical-align: top
        a
          display: block
        &.third
          width: 33.33%


@media screen and (max-width: $break-medium)
  .wrapper
    &.wrapper-12,
      width: 95%
    &.wrapper-10
      width: 95%      
    &.wrapper-8
      width: 95%
    &.wrapper-6
      width: 95%
  .footer
    .wrapper-12
      padding: 20px 0px
      .wrap-stripe
        width: 100%
        text-align: center
        .stripe
          width: 100%
          position: relative
          padding: 10px 0px
          a
            display: inline-block
            margin: 0 auto
            img
              width: 100px
              margin-bottom: 0
      .wrap-blocks
        width: 100%
        text-align: center
        padding: 0
        .block
          &.third
            width: 100%
