extends ../layout

block content
  div.community
    header.community-header
      h1 
        span What is 
        span NS Community?

    section.community-description
      div.wrapper.wrapper-8
        p Nearsoft forma parte de la mayoría de las comunidades de software en México, creando nuevos eventos y apoyando algunos de los que ya existen.

        p Queremos aprender y compartir lo que sabemos y la mejor manera de hacer esto es a través de la formación de redes dedicadas a transmitir conocimiento.

    section.community-create-support
      div.wrapper.wrapper-12
        h2 
          span Create & 
          span Support

      div.community-create-support-description
        div.wrapper.wrapper-12
          div.sofe
          div.docker
          div.django-girls
          div.soon

    section.community-upcoming-events
      div.community-upcoming-events-title
        div.community-upcoming-events-title-wrapper
          span Upcomin events
          span Calendar

      div.community-upcoming-events-date
        div.community-upcoming-events-date-calendar
          div.community-upcoming-events-date-calendar-wrapper
            span julio
            span 23

        div.community-upcoming-events-date-description
          div.community-upcoming-events-date-description-wrapper
            span Jav
            span Talks

    section.community-sponsorship
      div.wrapper.wrapper-11
        h2 Need a <br> sponsorship?

        div.community-sponsorship-description
          div.community-sponsorship-description-wrapper
            p Si necesitas apoyo para alguna comunidad o evento relacionado con el Software Development, envía tu solicitud y datos al correo.

            p Nosotros nos pondremos en contacto contigo. Recuerda que podemos apoyarte con el uso de nuestras instalaciones para los meetups y/o con speakers para congresos y eventos especiales.

            p.mail 
              a community@nearsoft.com


