extends ../layout

block content
  section#contact
    div.wrap-contact-form
      h1 CONTACT US
      div.nice-field
        input(class="nice-input" type="text" placeholder="Name")
      div.nice-field
        input(class="nice-input" type="text" placeholder="Email")
      div.nice-field
        textarea(class="nice-input" type="text" placeholder="Name")
      div.nice-field
        input(type="submit" value="Send" class="button")
