extends ../layout

block content
  div.labs-header
    div.coverimage.wrapper-12.stretch-height-with(style='background-image: url("images/intern_1.jpg");')
      div.wrapper.wrapper-12
        div.text-wrapper.small-12.medium-6
          h1.top-title What is
          img(src="images/logo-labs-orange.png" alt="Nearsoft labs")
          p Desde que entras a Nearsoft, está ahí escrito en la pared: queremos convertirnos en una de las empresas más innovadoras de México

  div.stripe-labs.small-5.small-centered

  div.code.wrapper-12
    div.medium-9.medium-centered.small-11.small-centered
      div.section-title
        h2 CODE
      div.code-container
        div.code-content.small-9.small-centered
          p
            | NearsoftLabs nsLabs = NearsoftLabs</br></br>
            | &emsp;&emsp;&emsp;&emsp;.description("Para lograr esto, sabemos que tenemos que ser capaces de identificar problemas, encontrar las oportunidades que se presentan y construir soluciones para hacer de la innovación, una parte muy importante de Nearsoft y que se grabe en nuestro ADN.</br></br>
            | Nearsoft Labs es el equipo que ayuda al resto del team a convertir esas oportunidades identificadas por la comunidad, en productos y servicios para la industria del software.")</br></br>
            | &emsp;&emsp;&emsp;&emsp;.latitude(-34.397)</br>
            | &emsp;&emsp;&emsp;&emsp;.longitude(150.644)</br>
            | &emsp;&emsp;&emsp;&emsp;.zoom( 8 )</br>
            | &emsp;&emsp;&emsp;&emsp;.buildAwesomeness();</br>

        div.scroll
          img.scroll-icon(src="images/scroll.png" alt="scroll icon")

  div.gallery
    div.small-12.medium-10.small-centered
      div.gallery-container
        div(class="photo photo-small")
          div(class="fill-photo coverimage" style="background-image: url('images/photo_3.png')")
        div(class="photo photo-large")
          div(class="fill-photo coverimage inner-shadow" style="background-image: url('images/photo_4.png')")

  div.news.wrapper-12
    div.medium-9.medium-centered.small-11.small-centered
      div.news-top.small-12
        div.section-title.small-12.medium-6
          h2 NEWS
        div.news-search.small-12.medium-6
          div.news-input-wrapper.small-11
            input(type="text", placeholder="search")
          div.news-icon-wrapper.small-1
            img.search-icon(src="images/search.png" alt="search icon")

      div.news-content.wrapper-12
        div.content-top.small-12
          div.circle-container
            div.circle
            div.circle
            div.circle
        div.content-middle.small-12
          div.content-wrapper.small-10.small-centered
            div.content-title
              h2 Connect Week Sydney <span class="news-title-highlight">(2016)</span> - November 29-30, 2016
            div.content-text
              p We were once again invited to participate in Atlassian's Connect Week. Since it took place in Sydney the team got together at San Luis Potosí to participate remotely.
              p They worked on connecting Qualitrack, our test case management tool, to JIRA and Confluence.
            div.content-title
              h2 Demo to <span class="news-title-highlight">Palm Beach</span> AUG​ - November 16th, 2016
            div.content-text
              p We had the opportunity to present​ our add-ons to the Atlassian User Group at Palm Beach. The presentation ​was​ about leveraging our Confluence add-ons to improve teams' sprint results.
            div.content-title
              h2 Demo to <span class="news-title-highlight">Silicon Valley</span> Engineering Leadership Community - November 17th​, 2016​
            div.content-text
              p We reached out to this community since they were hosting an event called "Tools and Tooling Hacks for Distributed Teams" so we could showcase our products. Matt Perez ​was in charge of demoing PlanningWith.Cards and its integrations to the community​.
          div.scroll
            img.scroll-icon(src="images/scroll.png" alt="scroll icon")
  div.stripe-labs.small-10.small-centered
  div.products.wraper-12
    div.medium-9.medium-centered.small-11.small-centered
      div.title.products-title.small-5
        h3 Products
      div.lists.products-lists
        div.products-list.small-12.medium-6
          ul.products-items
            li.product-item
              a(href="http://planningwith.cards/") Planning with cards
            li.product-item
              a(href="http://www.nuuk.me/") Nuuk
            li.product-item
              a(href="#") RideAsOne
        div.products-list.small-12.medium-6
          ul.products-items
            li.product-item
              a(href="#") ApiToCode
            li.product-item
              a(href="#") Ikigai
            li.product-item And more to come...
