extends ../layout

block content
  header.life-header
    div.wrapper.wrapper-12
      h1
        span.small-text HOW WE
        span.big-text Work
  section.inside-culture
    div.wrapper.wrapper-8
      p.nice-paragraph No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual.
    div.wrapper.wrapper-12
      div.photos
        div.row-photo
          div(class="photo-large animation photo")
            div(class="fill-photo coverimage" style="background-image: url('images/photo_1.png')")
          div(class="photo-small animation photo")
            div(class="fill-photo coverimage"  style="background-image: url('images/photo_2.png')")
        div.row-photo
          div(class="photo-small animation photo")
            div(class="fill-photo coverimage"  style="background-image: url('images/photo_3.png')")
          div(class="photo-large animation photo")
            div(class="fill-photo coverimage" style="background-image: url('images/photo_4.png')")
      div.inside-photo
        div(class="big-photo coverimage" style="background-image: url('images/photo_5.png')")
          div.wrap-title
            h2.title-inside.title-inside-orange Inside 
              span NS Culture
        div.wrap-text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit., sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      div.benefits
        div.wrapper.wrapper-12
          div.wrap-title
            h4.big-title Benefits
          div.wrap-blocks.center-blocks
            div.block.half
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.block.half
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      div.medium-post
        div.wrapper.wrapper-12
          div.wrap-title
            h4.big-title
              span Medium
              span Post
          div.wrap-blocks
            div.block
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
