extends ../layout

block content
  header.position-header.stretch-height-with
    div.wrap-square
      div.in-wrap-square
        h1.down OPEN POSITIONS
        h2.up WE WANT YOU
      
  section.we-want-you
    div.wrapper.wrapper-8
      p Nuestro equipo está siempre buscando a nuevos integrantes que puedan compartir con nosotros nuestros valores y hacer realidad la visión que perseguimos. Por lo mismo, constantemente estamos abriendo oportunidades para convertirse en un Nearsoftian.
      p El proceso no es sencillo, debemos confesar, pero una vez que formes parte del team, te darás cuenta que habrá valido la pena.

  section.requirements
    div.requirements-section.profiles
      div.profiles-container
        span OP Profiles &amp;
        span.bold Requirements
    div.requirements-section.github
      a(href="https://github.com/Nearsoft/jobs" target="_blank" rel="noopener").github-container
        span.block.left-side-strip
          span.link-gray CONSULTA NUESTRAS VACANTES EN
        div.block.right-side-strip
          img(src="images/github.png" role="presentation")

  section.our-hiring-process
    div.wrapper.wrapper-10
      h2
        span.sub Our hiring
        span Process

      div.our-hiring-process-icons
        div.our-hiring-process-icons-item
          div.our-hiring-process-icons-item-1
          p.our-hiring-process-icons-item-description Manda tu CV a jobs@nearsoft.com

        div.our-hiring-process-icons-item
          div.our-hiring-process-icons-item-2
          p.our-hiring-process-icons-item-description Espera a que te contactemos

        div.our-hiring-process-icons-item
          div.our-hiring-process-icons-item-3
          p.our-hiring-process-icons-item-description Test de lógica de programación en linea

        div.our-hiring-process-icons-item
          div.our-hiring-process-icons-item-4
          p.our-hiring-process-icons-item-description Entrevista en inglés

        div.our-hiring-process-icons-item
          div.our-hiring-process-icons-item-5
          p.our-hiring-process-icons-item-description Tech Screen: Experiencia y background técnico

        div.our-hiring-process-icons-item
          div.our-hiring-process-icons-item-6
          p.our-hiring-process-icons-item-description Profile Interview Entrevista técnica a profundidad

        div.our-hiring-process-icons-item
          div.our-hiring-process-icons-item-7
          p.our-hiring-process-icons-item-description Task interview Pair programming: Ejercicios de código

        div.our-hiring-process-icons-item
          div.our-hiring-process-icons-item-8
          p.our-hiring-process-icons-item-description Thumbs meeting: Review de tu proceso y decisión final

  section.our-recruiting-team
    div.wrapper.wrapper-10
      h2 Our recruiting team

      div.our-recruiting-team-img
        img(src="images/recruiters.png" alt="A photograph of the recruiting team at Nearsoft")
